.dropdown-toggle, .dropdown-item{
    text-decoration: none;
    cursor: pointer;
}

.dropdown-toggle {
    color: #fff;
}

img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}